<section id="about">
  <div class="container section-margin">
    <div class="row">
      <div class="col-lg">
        <div id="about-image" class="circular-image mx-auto mb-4 mb-lg-0">
          <img
            loading="lazy"
            src="{{ site.baseurl }}/assets/{{ site.data.about.about.aboutPhoto }}"
            alt="JonPaul Wallace"
            loading="lazy"
          />
        </div>
      </div>
      <div class="col-lg">
        <div>
          <h2 class="section-title">{{ site.data.about.about.title }}</h2>
          <div class="dotted-line"></div>
          <p class="mb-5">
            {{ site.data.about.about.aboutIntro }}
          </p>
          <button
            id="about-learn-more-button"
            class="btn btn-secondary"
            onclick="hideShowContent(
            'about-learn-more-button',
            'about-learn-more',
            '{{ site.data.about.about.aboutShowMoreButtonText }}',
            '{{ site.data.about.about.aboutHideInfoButtonText }}'
          );"
          >
          {{ site.data.about.about.aboutShowMoreButtonText }} <i aria-hidden="true" class="fas fa-angle-down"></i>
          </button>
        </div>
      </div>
    </div>

    <div id="about-learn-more" class="hidden slide-in">
      {% for blurb in site.data.about.about.aboutBlurb %}
        {% assign mod = forloop.index | modulo: 2 %}
        <div class="row mt-5">
          <div class="col-lg-6 order-lg-2">
            <img
              class="mb-3"
              loading="lazy"
              src="{{ site.baseurl }}/assets{{ blurb.blurbImage }}"
              height="400px"
            />
          </div>
          <div class="col-lg-6{% if mod == 0 %} order-1 order-lg-3 {% endif %}">
            <p class="about-text">
              <span class="bold-green-text">{{ blurb.highlightedBlurb1 }}</span> {{ blurb.blurb1 }}
            </p>
            <p class="about-text">
              <span class="bold-green-text">{{ blurb.highlightedBlurb2 }}</span> {{ blurb.blurb2 }}
            </p>
          </div>
        </div>
      {% endfor %}

      <a
        class="btn btn-secondary mt-5"
        href="{{ site.data.about.about.aboutCTALink }}"
        target="_blank"
        >{{ site.data.about.about.aboutCTAText }}</a
      >
    </div>
  </div>
</section>
