<section id="contact">
  <div class="container section-margin">
    <h2 class="section-title">Get in touch</h2>
    <div class="dotted-line"></div>
    <div id="contact-grid">
      <div id="contact-form">
        <form action="">
          <label for="email" class="form-label heading-color">Email:</label>
          <input type="email" name="email" class="form-control mb-3" />
          <label for="message" class="form-label heading-color">Message:</label>
          <textarea
            id="message"
            name="message"
            class="form-control mb-4"
          ></textarea>
          <button type="submit" class="btn btn-secondary w-100">Submit</button>
        </form>
      </div>
      <img
        id="contact-photo"
        src="{{site.baseurl}}/assets/images/about-section.jpg.webp"
        loading="lazy"
        height="600px"
        width="600px"
      />
    </div>
  </div>
</section>
