<div id="footer-content">
	<a id="footer-site-name" class="heading-color text-nowrap" href="#">JonPaul Wallace</a>
	<div id="footer-links" class="d-flex">
		<div id="footer-sections" class="d-flex flex-column gap-1">
			<p class="heading-color mt-2 mb-1">Sections</p>
			<a href="#about">About</a>
			<a href="#music">Music</a>
			<a href="#photos">Photos</a>
			<a href="#shows">Shows</a>
			<a href="#contact">Contact</a>
		</div>
		<div id="footer-streaming" class="d-flex flex-column gap-1">
			<p class="heading-color mt-2 mb-1">Streaming</p>
			{% for platform in site.data.links.streaming-platforms.app %}
				<a href="{{ platform.link }}">{{ platform.name }}</a>
			{% endfor %}
		</div>
		<div id="footer-social-media" class="d-flex flex-column gap-1 text-nowrap">
			<p class="heading-color mt-2 mb-1">Social Media</p>
			{% for site in site.data.links.social-media.app %}
				<a href="{{ site.link }}">{{ site.name }}</a>
			{% endfor %}
		</div>
	</div>
	<div id="footer-emailing-list">
		<label for="email" class="form-label heading-color mt-2 mb-3">Emailing List</label>
		{% include partials/emailing-list-form.html %}
	</div>
</div>