<section id="hero">
	<div id="hero-gradient">
		<div class="container">
			<h1 id="hero__name-tag" class="mb-4 fs-6 text-primary fw-bold">JONPAUL WALLACE</h1>
			<h2 id="hero__title" class="mb-4 fs-1 text-body fw-bold">Check out the latest album,<br/>Footprints</h2>
			<h3 id="hero__subtitle" class="mb-5 fs-4 text-body-secondary lh-lg">
				In collaboration with Bryan Iglesias.</br>
				Take a listen!
			</h3>
			<a class="btn btn-secondary" href="https://www.bryaniglesias.com/footprintsepk" target="_blank">Listen now</a>
		</div>
	</div>
</section>