<nav id="navbar" class="navbar navbar-expand-lg fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JonPaul Wallace</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#music">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#photos">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#shows">Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>