<section id="photos">
  <div class="container section-margin">
    <h2 class="section-title">JonPaul in action</h2>
    <div class="dotted-line"></div>

    {% assign firstEvent = site.data.photos.photos.events[0] %}

    {% include partials/photo-gallery.html name=firstEvent.name photos=firstEvent.images %}

    <button id="more-photos-button" class="btn btn-secondary mt-5" onclick="hideShowContent(
      'more-photos-button',
      'more-photos',
      'More photos',
      'Hide photos'
    );">More photos <i aria-hidden="true" class="fas fa-angle-down"></i></button>

    <div id="more-photos" class="hidden slide-in mt-5">
      {% for event in site.data.photos.photos.events offset:1 %}
        {% include partials/photo-gallery.html name=event.name photos=event.images %}
        <div class="mb-5"></div>
      {% endfor %}
    </div>
    {% include partials/lightbox.html %}
  </div>
</section>