#hero {
  min-height: 100vh;
  background-image: var(--hero-background);
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__name-tag {
    letter-spacing: 0.16rem;
  }
}
