.album-music-player {
  display: grid;
  grid-template-columns: 4fr 6fr;
  background-color: $primary-faded;
  border-radius: $border-radius;
  max-height: 570px;
  overflow: hidden;

  .cover-art-wrapper {
    height: 570px;
    overflow: hidden;
    position: relative;
    border-right: 4px solid $secondary;

    .cover-art {
      height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .album-info {

    .album-title {
      font-size: 2rem;
    }

    .blue-line {
      border-bottom: 3px solid darken($primary, 10%);
      border-radius: $border-radius;
    }

    .song-list {
      height: 315px;
      overflow-y: auto;

      .song:hover {
        background-color: $primary;
        border-radius: $border-radius;
        cursor: pointer;
      }

      .song:hover .song-name,
      .song:hover .song-length {
        color: $heading-color;
      }
    }

    .info-and-controls {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      height: 135px;
    }

    .song-navigation {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      & > * {
        margin-inline: auto;
      }
    }
  }
}

.seek-slider {
  height: 6px;
  width: 100%;
  appearance: none;
  background: linear-gradient(to right, $secondary 0%, $body-color 0%, $body-color 100%);
}

.seek-slider:hover {
  cursor: pointer;
}

.single-seek-slider {
  border-radius: $border-radius;
}

.volume-slider {
  height: 4px;
  background-color: $dark-body-color !important;
  appearance: none;
  border-radius: $border-radius;
}

.fa-play,
.fa-pause {
  color: $secondary;
}


.album-play-pause::before,
.single-play-pause::before {
  background-color: $secondary;
  color: $heading-color;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0 16px;
  padding-left: 17px;
  padding-right: 15px;
  height: 100%;
  display: block;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,;
}

.album-play-pause:hover::before,
.single-play-pause:hover::before {
  cursor: pointer;
  background-color: $heading-color;
  color: $secondary;
}


.prev-song:hover,
.next-song:hover {
  cursor: pointer;
}

.prev-song:hover i,
.next-song:hover i {
  color: $heading-color;
}

.videos {
  gap: 4rem;
}

.video > iframe {
  border-radius: $border-radius;
  overflow: hidden;
}

.single-music-player {
  width: 500px;
  background-color: $primary-faded;
  padding: 1rem;
  border-radius: $border-radius;
}

@media (max-width: 600px) {
  .single-music-player {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .album-music-player {
    grid-template-columns: 1fr;
  }

  .info-and-controls {
    grid-template-columns: 1fr !important;
  }

  .song-list {
    height: 290px !important;
  }

  .cover-art-wrapper,
  .song-length,
  .currently-playing-wrapper,
  .currently-playing-song-timer {
    display: none !important;
  }

  .play-wrapper {
    padding-right: 0.5rem !important;
  }

  .video-wrapper,
  .video-wrapper * {
    max-width: 100%;
  }
}