.wave-with-links-section {

  a {
    text-decoration: none;

    .app-link-wrapper {

      .app-link-icon {
        filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(1335%) hue-rotate(177deg) brightness(80%) contrast(97%);
        transition: all 0.2s ease-in-out;
      }
  
      p {
        transition: color .2s ease-in-out;
      }
    }

    .app-link-wrapper:hover {
      .app-link-icon {
        filter: invert(49%) sepia(35%) saturate(5687%) hue-rotate(142deg) brightness(94%) contrast(95%);
        transform: rotate(5deg);
      }

      p {
        color: $secondary;
      }
    }

  }
}