<div id="{{include.id}}" class="album-music-player slide-in">
  <div class="cover-art-wrapper">
    <img
      class="cover-art"
      loading="lazy"
      src="{{ site.baseurl }}/assets/images/album-covers/{{include.photoFilename}}"
    />
  </div>
  <div class="album-info">
    <p class="p-4 pb-0 mb-0">{{include.subtitle}}</p>
    <div class="album-name pb-3 px-4 heading-color fs-3 fw-bold">
      {{include.name}}
    </div>
    <div class="blue-line mx-4"></div>
    <div class="song-list">
      {% for song in include.data %}
      {% if song.disabled %}
      <div class="song disabled d-flex justify-content-between px-4 py-3">
      {% else %}
      <div
        class="song d-flex justify-content-between px-4 py-3"
        onclick="songOnClick(event, '{{include.id}}')"
      >
      {% endif %}
        <div class="song-play-and-name">
          <div class="play-wrapper pe-4 d-inline-block">
            <i class="play fa fa-play"></i>
          </div>
          <div class="song-name d-inline-block">{{song.name}}</div>
        </div>
        <div class="song-length d-inline-block">{{song.length}}</div>
        <audio
          src="{{ site.baseurl }}/assets/music/{{song.filename}}"
          class="d-none"
          volume="0.5"
        ></audio>
      </div>
      {% endfor %}
    </div>
    <div
      class="album-seek-slider seek-slider"
      onclick="albumSeekSliderOnClick(event, '{{include.id}}')"
    ></div>
    <div class="info-and-controls p-4">
      <div class="currently-playing-wrapper">
        <p class="small-text mb-0">PLAYING</p>
        <p class="currently-playing-song-name heading-color">...</p>
      </div>
      <div class="controls">
        <div class="song-navigation mb-3">
          <div
            class="prev-song d-flex flex-column justify-content-center"
            onclick="previousSongOnClick('{{include.id}}')"
          >
            <i class="fa fa-step-backward fa-2x"></i>
          </div>
          <div onclick="albumPlayPauseOnClick(event, '{{include.id}}')">
            <i class="album-play-pause fa fa-play fa-3x"></i>
          </div>
          <div
            class="next-song d-flex flex-column justify-content-center"
            onclick="nextSongOnClick('{{include.id}}')"
          >
            <i class="fa fa-step-forward fa-2x"></i>
          </div>
        </div>
        <div class="volume-slider-wrapper d-flex justify-content-center gap-2">
          <div class="volume-down">
            <i class="fa fa-volume-down"></i>
          </div>
          <input
            type="range"
            class="volume-slider my-auto"
            min="0"
            max="100"
            value="50"
            oninput="setVolumeForAlbum(event, '{{include.id}}')"
          />
          <div class="volume-up">
            <i class="fa fa-volume-up"></i>
          </div>
        </div>
      </div>
      <div class="currently-playing-song-timer ms-auto">
        <span class="currently-playing-song-current-time">0:00</span>
        <span class="dark-body-color">/</span>
        <span class="currently-playing-song-length heading-color">0:00</span>
      </div>
    </div>
  </div>
</div>
