<h2 class="section-title mb-4 text-center slide-in">{{ site.data.emailing-list.emailing-list.title }}</h2>
<p class="mb-5 text-center slide-in">{{ site.data.emailing-list.emailing-list.text }}</p>
<form action="">
  <div id="emailing-list-form" class="d-flex gap-3 slide-in">
    <input type="email" name="email" class="form-control" placeholder="Email" />
    <button type="submit" class="btn btn-secondary text-nowrap">{{ site.data.emailing-list.emailing-list.buttonText }}</button>
  </div>
</form>